{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="w3-container">
  <div class="w3-row">
    <div class="w3-col m6 w3-display-middle " >
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default w3-card">
        <div class="panel-heading w3-theme-d5">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body ">
          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            <div class="form-group">
              <input type="submit" class="w3-button w3-theme-d5" value="Login">
            </div>
            <input type="hidden" name="next" value="{{next}}">
              <div class="w3-bar w3-left">
            <p class=" w3-bar-item w3-center">Don't have an account?</p>
            <a class="w3-button w3-bar-item w3-center w3-green" href="/accounts/register/">Sign Up</a>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
